@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mplus1p/v27/e3tmeuShHdiFyPFzBRrQVBYgew.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS 1p', sans-serif;
}
.mainWrap {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cityInput {
  outline: none;
}
.cityInputWrap {
  height: 20px;
  margin-bottom: 100px;
}
.cityInputButton {
  width: auto;
  margin: 0;
}
.cityCard {
  width: 285px;
  margin: 0 10px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.cityCardWrap {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}
.cityName {
  font-size: 30px;
  margin: 3px auto;
}
.cityTemp {
  font-size: 50px;
  margin: 3px auto 0px auto;
}
.cityTempDesc {
  font-size: 20px;
  margin: 0px auto;
}
